

body {
	/* background-image: url("https://www.uml.edu/Images/Coronavirus%20image_opt_tcm18-323793.jpg?w=s");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;

}

h1 {
  color: Black;
}

header, .top_page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  padding: 5px;
  margin: 0 auto;
}

header {
  background: lightgrey;
  width: 100%;
}


/*CSS for Carousel of images*/

.carousel {
	width: 70%;
	display: flex;
	justify-content: space-around;
}
.images_facts {
	width: 80%;
  height: 80%;
	background: black;
	padding: 10px;
	border-radius: 10px;
	box-sizing: border-box;
}
.images_facts img {
	width: 100%;
  height: 100%;
	border-radius: 10px;
	display: none;
}
.img_button {
	align-self: center;
	background: black;
	color: white;
	padding: 10px;
	border-radius: 50%;
	text-align: center;
}
.img_button:hover {
	cursor: pointer;
	background: gray;
	color: white;
}

.images_facts img:first-of-type {
	display: block;
}

/*Forms*/
form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.country {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

ul {
  font-weight: 900
}

li {
  font-weight: normal;
}
